<h1>This is the welcome site</h1>

<h4>Upload an image - For testing of api</h2>

    <%= form_for @outfit do |f| %>

    <p>
      <%= f.label :photo %>
      <%= f.file_field :photo %>
    </p>
    <%= f.button 'Create' %>

  <% end %>
