<form action="/dish_types/<%= @dish_type.id %>" method="post">
  <input type="hidden" value="put" name="_method">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  
  <label for="">name</label>
  <input type="text" name="name" value="<%= @dish_type.name %>">


  <button>update</button>
</form>